@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #2c395e;
  font-family: 'Quicksand', sans-serif;
}

#root {
  display: grid;
  grid-template-columns: 200px 1fr;
}

button {
  font-family: inherit;
  color: inherit;
  font-size: 0.9rem;
}

.menu-container {
  padding: 20px;
  padding-top: 40px;
}

.menu-container__title {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-container__title img {
  width: 32px;
}

.menu-container__options {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 5px;
}

.menu-container__options button:first-child {
  padding: 12px;
  margin-bottom: 20px;
}

hr {
  border: 1px solid #e2e2e2;
  margin: 10px 0;
}

button {
  background-color: #e6e6e6;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}

button:active,
button.active {
  background-color: #ef801e;
  color: #ffffff;
}

button.altern {
  background-color: #2c395e;
  color: #ffffff;
}

.layout-container {
  padding: 30px;
  background-color: #e8e8e8;
}

.graph-data {
  text-align: center;
  margin-bottom: 1em;
}

canvas {
  border-radius: 8px;
  background-color: #ffffff;
}

.hidden {
  display: none;
}

.showed {
  display: block;
}

.modal-params {
  position: absolute;
  width: 400px;
  color: white;
  background-color: #282a30;
  z-index: 10;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 20px 5px #cbcbcb;
}

.modal-params > div {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  gap: 7px;
}

.modal-params .modal-params__buttons {
  margin-top: 1.5em;
}

.modal-params .modal-params__buttons button {
  width: 100%;
}

.modal-params input, select {
  border: 2px solid #363c50;
  padding: 8px;
  border-radius: 4px;
  font-family: inherit;
  background-color: #363c50;
  color: white;
}

.overlay {
  background-color: white;
  opacity: 0.9;
  position: fixed;
  width: 100%;
  height: 100%;
}

